
<div>
    {% if page_obj.has_previous %}
    <div class=" mb-5 ml-3">
        <a href="?page=1" class="btn btn-primary mr-3">&laquo; first</a>
        <a href="?page{{page_obj.previous_page_number}}" class="btn btn-primary">Previous</a>
    </div>
    {% endif %}
    {% if page_obj.has_next %}
    <div class="d-flex justify-content-end mb-5 mr-3 ">
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary mr-3">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
    </div>
    {% endif %}
</div>